body{
    font-size: 16px;
    background: blue;
    height: 541px;
    overflow: hidden;
    font-family: sans-serif;    
}
div{
    text-align:center;
}
img{
    height: 200px;
    width: 200px;
    top: 50px;
    border-radius: 1000px;
    position:relative;
}
#user{
    position: relative;
    top: 90px;
    background-color: white;
    height: 30px;
    width: 200px;
    border: black;
    border-radius: 5px;
}
#password{
    position: relative;
    top: 120px;
    background-color: white;
    height: 30px;
    width: 200px;
    border: black;
    border-radius: 5px;
}
button{
    position: relative;
    top: 150px;
    max-width: 25%;
    
}
.container{
    width: 350px;
    height: 475px;
    top: 40px;
}
.input-custom {
    border-color: chocolate !important;
}

.row-custom {
    top: 10px !important;
    width: 90%;
    height: 90% !important;
    left: 5%;
}
.table{
    
}